/lib/systemd/system/dash.service
[Unit]
Description=DashApp
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
WorkingDirectory=/root/BioKoshmarkers
ExecStart=/usr/bin/python3 /root/BioKoshmarkers/dash_app.py
Restart=always

[Install]
WantedBy=multi-user.target
